flask
flask-socketio   # Web Framework & Real-time
gevent
gevent-websocket
gunicorn                      #production server 
africastalking
google-genai
faster-whisper
pydub                            #audio $ai processing and core logic and service 
deep-translator
python-dotenv
requests
groq